.container {
    text-align:center;
}
.navgation-bar ul {
    list-style-type:none;
    margin: 15;
    padding: 10;
    overflow:hidden;
}
.navgation-bar li {
    margin:20px;
    padding:20px;
    background-color:steelblue;
    float:left;
    border-radius: 50%;
}
.navgation-bar a {
    display:block;
    width:60px;
    text-decoration: none;
}
a:hover {
    color:red;
}
.nav-wrapper {
    height: 60px;
    width: 100%;
    background-color:lightblue;
    line-height:15px;
}

.button {
    border-radius:50%;
    background-color: #EEEEEE;
    padding: 0px 6px 0px 6px;
    border-top: 10px solid #CCCCCC;
    border-right: 10px solid #333333;
    border-bottom: 10px solid #333333;
    border-left: 10px solid #CCCCCC;
}
li:hover {
    background-color:green;
    border-radius:50%;
}